body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

/* Apply a filter to background image: https://css-tricks.com/apply-a-filter-to-a-background-image/ */

.background-image,
.background-container {
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: darken;
  background-image: url(../images/dreadakidd-seethevision-albumcover__508.jpg),
    linear-gradient(
      to right,
      #45607c 0%,
      #56698f 50%,
      #6e5887 75%,
      #825a7a 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  color: #fff;
  font-size: 1em;
  left: 0;
  padding: 0.5em 1em;
  position: fixed;
  right: 0;
  text-align: center;
  top: -30em;
  transition: top 0.1s linear;
  z-index: 20;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 90vw;
}

.logo a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.logo a:focus {
  background-color: #493072;
  border-radius: 4px;
  padding: 0.75em;
}

.logo a:hover {
  text-align: white;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

main {
  margin: 0 auto;
  padding: 2vw 0;
}

.main-header,
.footer,
.fine-print {
  padding: 1rem 0;
}

.main-nav,
.footer {
  margin-top: 1em;
}

.ul-links {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-list {
  flex-direction: column;
  justify-content: space-evenly;
}

.main-nav-item,
.privacy-link {
  font-size: 0.9em;
}

.main-nav-item a:focus {
  padding: 0.5em 1em;
}

.ul-link a {
  color: inherit;
  text-decoration: none;
}

.ul-link a:hover {
  text-align: white;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.ul-link a:focus {
  background-color: #493072;
  border-radius: 4px;
}

.featured-links {
  display: flex;
  flex-direction: column;
}

.featured-video,
.featured-project,
.album-cover {
  max-width: 100%;
}

.featured-links a:focus {
  background-color: #493072;
  border-radius: 4px;
  padding: 0.75em;
}

.featured-links a:hover {
  transform: scale(1.025);
  transition-duration: 500ms;
}

.featured-project {
  align-self: center;
  margin-top: 1em;
}

#featured-songs {
  display: grid;
  place-items: center;
  grid-gap: 1em;
}

.song {
  border: 1px solid white;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.footer,
.privacy-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links,
.song-links {
  flex-direction: row;
}

.song-links {
  justify-content: center;
}

.social-media-link,
.song-link {
  font-size: 2.25em;
  padding: 0 0.5em;
}

.social-media-link a:focus {
  padding: 0.25em 0.5em;
}

.social-media-link a i:hover {
  transform: scale(0.8);
  transition-duration: 500ms;
}

.privacy-link {
  padding: 0.25em 0;
}

.fine-print {
  text-align: center;
}

.fine-print small {
  font-size: 0.9em;
}

[data-hook="videos"] .content-wrapper div:not(:last-child) {
  margin-bottom: 1em;
}
