@media (min-width: 320px) {
  .main-nav-list {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .main-nav-list {
    padding: 0 15%;
  }

  .featured-links {
    margin: 0 10vw;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.125rem;
  }

  .main-nav-list {
    padding: 0 35%;
  }

  .main-nav-item {
    font-size: 1rem;
  }

  .background-image::before {
    filter: blur(12px);
  }

  .featured-links {
    margin: 0 25vw;
  }

  .privacy-links {
    flex-direction: row;
  }

  .privacy-link {
    padding: 0 0.5em;
  }
}
