body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.skip-link {
  position: fixed;
  top: -30em;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--purple);
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1em;
  text-align: center;
  transition: top 0.1s linear;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 90vw;
}

[data-hook="homepage"] main {
  padding-top: 2vw;
}

main {
  margin: 0 auto;
  padding: 10vw 0;
}
