body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  background: var(--purple);
  color: #fff;
  font-size: 1em;
  left: 0;
  padding: 0.5em 1em;
  position: fixed;
  right: 0;
  text-align: center;
  top: -30em;
  transition: top 0.1s linear;
  z-index: 20;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 90vw;
}

[data-hook="homepage"] main {
  padding-top: 2vw;
}

main {
  margin: 0 auto;
  padding: 10vw 0;
}

main-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

main-nav-item {
  font-size: 0.9em;
  text-decoration: none;
}

.featured-links {
  display: flex;
  flex-direction: column;
}

.featured-video, .featured-project {
  max-width: 100%;;
}
