body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

/* Apply a filter to background image: https://css-tricks.com/apply-a-filter-to-a-background-image/ */

.background-image,
.background-container {
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-blend-mode: darken;
  background-image: url(assets/images/dreadakidd-seethevision-albumcover__progessive_508_w2lnam_c_scale,w_508.jpg),
    linear-gradient(
      to right,
      #45607c 0%,
      #56698f 50%,
      #6e5887 75%,
      #825a7a 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  color: #fff;
  font-size: 1em;
  left: 0;
  padding: 0.5em 1em;
  position: fixed;
  right: 0;
  text-align: center;
  top: -30em;
  transition: top 0.1s linear;
  z-index: 20;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 90vw;
}

main {
  margin: 0 auto;
  padding: 2vw 0;
}

.main-header, .footer {
  padding: 1rem 0;
}

.main-nav,
.footer {
  margin-top: 1em;
}

.main-nav-list,
.social-media-links,
.privacy-links {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-list {
  flex-direction: column;
  justify-content: space-evenly;
}

.main-nav-item,
.privacy-link {
  font-size: 0.9em;
  text-decoration: none;
}

.main-nav-item a,
.social-media-link a,
.privacy-link a {
  color: inherit;
}

.main-nav-item a:hover,
.social-media-link a:hover,
.privacy-link a:hover {
  text-align: white;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.main-nav-item a:focus,
.social-media-link a:focus,
.privacy-link a:focus {
  background-color: #493072;
  border-radius: 4px;
  font-weight: bold;
  padding: 0.5em 1em;
}

.featured-links {
  display: flex;
  flex-direction: column;
}

.featured-video,
.featured-project,
.album-cover {
  max-width: 100%;
}

.featured-project {
  align-self: center;
  padding-top: 1rem;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.footer, .privacy-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  flex-direction: row;
}

.social-media-link {
  font-size: 1.5em;
  padding: 0 0.5em;
}

.privacy-link {
  padding: 0.25em 0;
}
